/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Nav bar css */
#menu{
    background: linear-gradient(red,blue);
    height: 100px;
    display: flex;
    justify-content: space-around;
}